@page "/Contact"

<h1>Contact Us</h1>

<h4>Hey My Name Is <span style="color:crimson;">Raj Naryan Gupta</span></h4>
<p class="p-3"> You Can See my Profile On <a class="link-dark" href="https://github.com/rajguptaH">Github</a></p>
<div class=" row-cols-4">
    <label   class="col-form-label">Email: rajkumar00999.rk@gmail.com</label>
    <br/>
    <label   class="col-form-label">Mobile Number: 9308337022</label>
    
</div>

