@page "/Contact"

<h1>Counter</h1>

<h4>Hey My Name Is <span style="color:aquamarine;">Raj Naryan Gupta</span></h4>
<p class="p-3"> You Can See my Profile On <a class="link-dark" href="https://github.com/rajguptaH">Github</a></p>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        Console.WriteLine(currentCount);
    }
}
